.card__list {
  padding-top: 27px;
  padding-bottom: 28px;

  text-align: center;
  background-color: @grey;
}

.card__list--town {
  padding-top: 40px;
  padding-bottom: 40px;

  color: @white;
  background-color: @blue;
}

.card__title,
.card__number,
.card__description {
  margin: 0;
  padding: 0;

  list-style: none;
}

.card__title {
  margin-bottom: 8px;
  .title-font();
}

.card__number {
  margin-bottom: 16px;
}

.card__number,
.card__description {

  margin: 0, auto;

  font-size: 14px;
  line-height: 21px;
  font-weight: 400;

  text-align: center;
}

.card__photo {
  height: 260px;

  overflow: hidden;
}
