.conveniences {
  margin: 0;
  padding: 36px 0 40px 0;

  list-style: none;
}

.conveniences__item {
  width: 210px;

  padding-left: 70px;
  margin-bottom: 29px;
}


.conveniences__title,
.conveniences__description {
  .defolt-style();

  text-align: left;
}

.conveniences__title {
  margin-bottom: 13px;

  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}

.conveniences__description {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.conveniences__item--food {
  margin-bottom: 0;
}
