.conveniences {
  margin: 0;
  padding: 0 20px;

  list-style: none;
}

.conveniences__title,
.conveniences__description {
  .defolt-style();
  padding-left: 45px;
  text-align: left;
}

.conveniences__title {
  .title-font();
}

.conveniences__description {
  .form-font();
}
