.form-block {
  display: flex;
  box-sizing: border-box;
  align-items: center;

  .defolt-style();
  padding: 18px 20px 28px 20px;
  border: none;
}

.form-block--check {
  padding-bottom: 40px;
}

.form-block__list {
  .defolt-style();
}

.form-block__item {
  display: flex;
  justify-content: space-between;

  margin-bottom: 21px;
}

.form-block__title {
  .defolt-style();
  margin-bottom: 20px;

  .title-font();
}

.form-block__label {
  display: flex;
  align-items: center;

  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
}

.form-block__input {
  display: flex;
  align-items: center;
  box-sizing: border-box;

  width: 100%;

  margin-left: 14px;
  padding-top: 16px;
  padding-right: 10px;
  padding-bottom: 15px;
  padding-left: 21px;

  .title-font();
  color: @black;
  text-align: left;
  text-transform: none;

  background-color: #f2f2f2;
  border: none;
}

.form-block__input::placeholder {
  color: @black;
}

.form-block__label--end,
.form-block__input--end {
  margin-bottom: 0;
}

.form-block__label--radio,
.form-block__label--check {
  .title-font();
}

.form-block__label--contacts {
  padding-left: 22px;
  margin-bottom: 9px;
}

.form-block__item--contacts {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}

.form-block__list > .form-block__item--contacts:nth-last-child(1) {
  margin-bottom: 0;
}

.form-block__input--contacts {
  margin-left: 0;
}

.form-block__item--radio {
  padding-left: 77px;
  padding-top: 20px;
  padding-bottom: 22px;
  margin-bottom: 0;

  .title-font();
  color: @black;

  text-transform: none;
}

.form-block__item--check {
  padding-left: 77px;
  padding-top: 20px;
  padding-bottom: 34px;
  margin-bottom: 0;

  .title-font();
  color: @black;

  text-transform: none;
}

.form-block__item--check:nth-last-child(1) {
  padding-bottom: 0;
}

.form-block__list > .form-block__item:nth-last-child(1) {
  margin-bottom: 0;
}

.form-block__title--check {
  margin-bottom: 12px;
}

.form__block__area {
  box-sizing: border-box;

  resize: none;
  width: 100%;
  height: 160px;
  font: inherit;

  padding-top: 14px;
  padding-left: 21px;
  padding-right: 10px;
  margin-bottom: 20px;

  background-color: #f2f2f2;
  border: none;
}

.form__block__area::placeholder {
  color: @black;
}

.form__button {
  display: flex;

  width: 280px;

  .defolt-style();
  margin: auto;
  padding: 14px 40px 18px 50px;

  text-align: center;
}

.form-block__input:hover {
  background-color: #e5e5e5;
}

.form-block__input:active {
  background-color: @white;
  box-shadow: 0 0 0 4px rgb(229, 229, 229) inset;
}
