.form-block {
  display: flex;

  .defolt-style();

  border: none;
}

.form-block__item {
  display: flex;
}

.form-block__item--contacts {
  display: flex;
  flex-direction: column;
}

.form-block__list {
  .defolt-style();
}

.form-block__title {
  .defolt-style();

  .title-font();
}

.form-block__label {
  display: flex;
  .form-font();
  color: #333333;
}

.form-block__input {
  display: flex;

  font: inherit;
  color: @black;
  text-transform: none;

  background-color: #f2f2f2;
  border: none;
}
