.heading {
  padding-bottom: 31px;
}

.heading--indent {
  padding-bottom: 21px;
}

.heading__title,
.heading__description {
  .defolt-style();
}

.heading__index {
  margin-bottom: 36px;
  overflow: hidden;
}

.heading__image {
  height: 158px;
}

.heading__image--poster {
  height: 389px;
  max-width: none;
  transform: translateX(-29%);
}

.heading__block {
  width: 275px;
  margin: auto;
  box-sizing: border-box;
}

.heading__block--poster {
  width: 255px;
  margin: auto;
}

.heading__title {
  margin-bottom: 25px;

  .title-font();
  text-align: center;
}

.heading__description {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;

  text-align: center;
}

.heading__description--poster {
  padding-top: 4px;
  line-height: 26px;
}
