.hotel {
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.hotel_guestion,
.hotel__description,
.hotel__find {
  margin: 0;
  padding: 0;
}

.hotel_guestion {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.hotel__description {
  font-size: 14px;
  line-height: 24px;
  font-weight: 4400;
}
