.hotel {
  padding: 0 20px;
}

.hotel_guestion,
.hotel__description,
.hotel__find {
  .defolt-style();
}

.hotel_guestion {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.hotel__description {
  .form-font();
}

.hotel__find {
  padding: 17px 46px;
}

.hotel__find:hover,
.hotel__find:focus {
  background-color: @hover;
}

.hotel__find:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: @down;
}
