.main-nav {
  position: relative;

  width: 320px;
  margin: 0 auto;
}

.main-nav__toggle {
  position: absolute;
  top: 14px;
  left: 277px;
  width: 23px;
  height: 23px;

  background-image: url("../img/icon-cross.svg");
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 0 0;

  border: none;
}

.main-nav__list {
  margin: 0;
  padding: 0;

  font-weight: 700;
  line-height: 40px;

  background-color: @blue;
  list-style: none;
}

@media (min-width: @tablet-width) {
  .main-nav {
    width: auto;
    margin: 0;
  }

  .main-nav__list {
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;

    background-color: @white;
  }

  .main-nav__toggle {
    display: none;
  }
}
