.modal-form {
  box-sizing: border-box;
  width: 320px;
  min-height: 280px;

  padding-top: 23px;
  margin-bottom: 30px;
  box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);
}

.modal-form--send {
  height: 325px;
}

.modal-form__title {
  .title-font();
  margin-bottom: 34px;

  text-align: center;
}

.modal-form__item {
  width: 216px;
  margin: auto;
  margin-bottom: 27px;
  .form-font();

  text-align: center;
}

.modal-form__button {
  width: 280px;
  height: 58px;
}

.modal-form__button--mistake {
  width: 180px;
  height: 58px;
}

.modal-form__wrapper {
  box-sizing: border-box;

  width: 320px;
  height: 98px;

  padding: 20px;

  background-color: #f2f2f2;
}

.modal-form__item--send {
  margin-bottom: 58px;
}
