.page-header {
  position: relative;

  background-color: @white;
}

.page-header__logo-image {
  display: inline-block;

  width: 102px;
  height: 83px;
}

.page-header__toggle {
  display: flex;

  padding-top: 17px;
  padding-left: 277px;
  padding-bottom: 18px;
  padding-right: 20px;

  background-color: transparent;

  border: none;
}

.page-header__logo {
  position: absolute;
  top: 0;
  left: 110px;

  display: flex;

  width: 102px;
  height: 83px;
  margin: 0 auto;

  z-index: 200;
}
