.page-header {
  position: relative;

  padding-top: 0;
  padding-bottom: 55px;

  background-color: @white;
}

.page-header__logo-image {
  display: inline-block;
}

.page-header__logo {
  position: absolute;
  top: 0;
  left: 70px;

  display: flex;

  height: 83px;
  margin: 0 auto;

  z-index: 200;
}

.page-header__logo-cover {
  display: none;
}

@media (min-width: @tablet-width) {
  .page-header {
    position: relative;
    padding-top: 0;
    padding-bottom: 0;
  }

  .page-header__logo {
    position: absolute;
    top: 0;
    left: 290px;
  }
}

@media (min-width: @desktop-width) {
  .page-header__logo {
    position: absolute;
    top: 0;
    left: 510px;
  }

  .page-header__logo-cover {
    display: block;
  }
}
