.photo {
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.photo__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.photo-block__title,
.photo-block__author,
.photo-block__numbers {
  margin: 0;
  padding: 0;
}

.photo-block__title,
.photo-block__numbers {
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;

  text-align: left;
}

.photo-block__author {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;

  text-transform: none;
  text-align: left;
}

.photo-block__count {
  display: flex;
  justify-content: flex-start;
}

.photo-block__button {
  width: 23px;
  height: 21px;
  margin-right: 15px;

  background-image: url("../img/icon-like.svg");
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 0 0;

  border: none;

  opacity: 0.3;
}
