.video {
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.video__question,
.video__offer {
  margin: 0;
  padding: 0;
}

.video__question {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}

.video__offer {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}
