.video {
  padding-top: 34px;
  margin-bottom: 37px;
}

.video__question,
.video__offer {
  margin: 0;
  padding: 0;
}

.video__question {
  margin-bottom: 25px;

  .title-font();
}

.video__offer {
  margin-bottom: 37px;
  .form-font();
}
